# 2D Stardist segmentation on 2D/3D/timelapse OMERO images

This notebook is used for Stardist segmentation. Some inspiration from the https://github.com/ome/omero-guide-cellprofiler/idr0002.ipynb

## TO DO
- Make a generic function for 2D segmentation for all slices independent of the shape of the image z,c,t
- Include a ID to all files uploaded to OMERO to make it more tracable
- Extend to handle multiple channels AND timepoints
- Check if we can overwrite label images if nesseary or ROIs

### Import Packages

In [1]:
# Import OMERO Python BlitzGateway
import omero
from omero.gateway import BlitzGateway
import ezomero
# Import Numpy
import numpy as np

# Import Python System Packages
import os
import tempfile
import pandas
import warnings

#stardist related
from stardist.models import StarDist2D
from csbdeep.utils import normalize
from stardist.plot import render_label
import matplotlib.pyplot as plt
from tifffile import imsave

#load stardist model
model = StarDist2D.from_pretrained('2D_versatile_fluo')

Found model '2D_versatile_fluo' for 'StarDist2D'.
Loading network weights from 'weights_best.h5'.
Loading thresholds from 'thresholds.json'.
Using default values: prob_thresh=0.479071, nms_thresh=0.3.

### Set Temp Output Directory

In [2]:
import datetime

new_output_directory = os.path.normcase(tempfile.mkdtemp())
print(new_output_directory)
#create unique job id for reference based on date and time
job_id = str(datetime.datetime.now().strftime("%Y%m%d%H%M%S"))
print(job_id)

c:\users\mwpaul\appdata\local\temp\tmpoq98sgaw
20250110165135

### Setup connection with OMERO

In [3]:
conn = BlitzGateway(host='localhost', username='root', passwd='omero', secure=True)
print(conn.connect())
conn.c.enableKeepAlive(60)

NameError: name 'BlitzGateway' is not defined

### Get info from the dataset

In [4]:
datatype = "dataset" # "plate", "dataset", "image"
data_id = 	502
nucl_channel = 0

#validate that data_id matches datatype
if datatype == "plate":
    plate = conn.getObject("Plate", data_id)
    print('Plate Name: ', plate.getName())
elif datatype == "dataset":
    dataset = conn.getObject("Dataset", data_id)
    print('Dataset Name: ', dataset.getName())
elif datatype == "image":
    image = conn.getObject("Image", data_id)
    print('Image Name: ', image.getName())

Dataset Name:  day7

### Run Stardist on the dataset

#### Function definitions

persistent_dict.py (63): Unable to import recommended hash 'siphash24.siphash13', falling back to 'hashlib.sha256'. Run 'python3 -m pip install siphash24' to install the recommended hash.

#### code to run the analysis

In [6]:
import importlib
import src.ProcessImage as ProcessImage
importlib.reload(ProcessImage)
import pandas as pd

#get list of images to process
if datatype == "plate":
    wells = list(plate.listChildren())
    well_count = len(wells)
    images = []
    for count, well in enumerate(wells):
        print('Well: %s/%s' % (count + 1, well_count), 'row:', well.row, 'column:', well.column)
        # Load all images for a well if there are multiple
        fields = well.countWellSample()
        for field in range(fields):
            print('Field:', field)
            image = well.getImage(field)
            images.append(image)
elif datatype == "dataset":
    images = list(dataset.listChildren())
elif datatype == "image":
    images = [image]   

#process images
plate_statistics = []
for count,image in enumerate(images):
    print(f'Processing image {count+1}/{len(images)}: {image.getName()}')
    
    # Initialize processing
    img = ProcessImage.ProcessImage(conn, image, job_id, model)
    
    # Segment nuclei
    img.segment_nuclei(nucl_channel)
    
    # Save results
    img.save_segmentation_to_omero_as_attach(new_output_directory, desc)
    img.save_segmentation_to_omero_as_roi()
    #img.save_segmentation_to_omero_as_new_image(seg_img_name,desc)
    
    # Measure intensity
    img.measure_intensity()
    all_statistics_df = img.get_measurements_to_df()
    
    #save intensity measurements to OMERO
    all_statistics_df['imageID'] = image.getId()

    plate_statistics.append(all_statistics_df)
    image_id = image.getId()
    tabelid = ezomero.post_table(conn, object_type="Image", object_id=image.getId(), table = all_statistics_df,title=f"Nuclei_measurements_{job_id}_{image_id}")
    print('Created table ID:', tabelid)
    
# Concatenate all statistics into a single DataFrame
plate_statistics_df = pd.concat(plate_statistics, ignore_index=True)
tabelid = ezomero.post_table(conn, object_type="Dataset", object_id=data_id, table = plate_statistics_df, title=f"Nuclei_measurements_{job_id}_{data_id}")

File annotation ID: 1347
Created ROI with ID: 449

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1348
File annotation ID: 1349
Created ROI with ID: 450

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1350
File annotation ID: 1351
Created ROI with ID: 451

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1352
File annotation ID: 1353
Created ROI with ID: 452

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1354
File annotation ID: 1355
Created ROI with ID: 453

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1356
File annotation ID: 1357
Created ROI with ID: 454

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1358
File annotation ID: 1359
Created ROI with ID: 455

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1360
File annotation ID: 1361
Created ROI with ID: 456

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1362
File annotation ID: 1363
Created ROI with ID: 457

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1364
File annotation ID: 1365
Created ROI with ID: 458

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1366
File annotation ID: 1367
Created ROI with ID: 459

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1368
File annotation ID: 1369
Created ROI with ID: 460

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1370
File annotation ID: 1371
Created ROI with ID: 461

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1372
File annotation ID: 1373
Created ROI with ID: 462

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1374
File annotation ID: 1375
Created ROI with ID: 463

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1376
File annotation ID: 1377
Created ROI with ID: 464
Created table ID: 1378
File annotation ID: 1379
Created ROI with ID: 465

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1380
File annotation ID: 1381
Created ROI with ID: 466

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1382
File annotation ID: 1383
Created ROI with ID: 467

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1384
File annotation ID: 1385
Created ROI with ID: 468
Created table ID: 1386
File annotation ID: 1387
Created ROI with ID: 469

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1388
File annotation ID: 1389
Created ROI with ID: 470

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1390
File annotation ID: 1391
Created ROI with ID: 471

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1392
File annotation ID: 1393
Created ROI with ID: 472

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1394
File annotation ID: 1395
Created ROI with ID: 473

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1396
File annotation ID: 1397
Created ROI with ID: 474

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1398
File annotation ID: 1399
Created ROI with ID: 475

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1400
File annotation ID: 1401
Created ROI with ID: 476

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1402
File annotation ID: 1403
Created ROI with ID: 477

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1404
File annotation ID: 1405
Created ROI with ID: 478
Created table ID: 1406
File annotation ID: 1407
Created ROI with ID: 479

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1408
File annotation ID: 1409
Created ROI with ID: 480

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1410
File annotation ID: 1411
Created ROI with ID: 481

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1412
File annotation ID: 1413
Created ROI with ID: 482

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1414
File annotation ID: 1415
Created ROI with ID: 483

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1416
File annotation ID: 1417
Created ROI with ID: 484

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1418
File annotation ID: 1419
Created ROI with ID: 485

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1420
File annotation ID: 1421
Created ROI with ID: 486
Created table ID: 1422
File annotation ID: 1423
Created ROI with ID: 487

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1424
File annotation ID: 1425
Created ROI with ID: 488

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1426
File annotation ID: 1427
Created ROI with ID: 489

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1428
File annotation ID: 1429
Created ROI with ID: 490

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1430
File annotation ID: 1431
Created ROI with ID: 491

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1432
File annotation ID: 1433
Created ROI with ID: 492

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1434
File annotation ID: 1435
Created ROI with ID: 493

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1436
File annotation ID: 1437
Created ROI with ID: 494

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1438
File annotation ID: 1439
Created ROI with ID: 495

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1440
File annotation ID: 1441
Created ROI with ID: 496

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1442
File annotation ID: 1443
Created ROI with ID: 497

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1444
File annotation ID: 1445
Created ROI with ID: 498
Created table ID: 1446
File annotation ID: 1447
Created ROI with ID: 499

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1448
File annotation ID: 1449
Created ROI with ID: 500

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1450
File annotation ID: 1451
Created ROI with ID: 501

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1452
File annotation ID: 1453
Created ROI with ID: 502

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1454
File annotation ID: 1455
Created ROI with ID: 503

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1456
File annotation ID: 1457
Created ROI with ID: 504

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1458
File annotation ID: 1459
Created ROI with ID: 505

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1460
File annotation ID: 1461
Created ROI with ID: 506

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1462
File annotation ID: 1463
Created ROI with ID: 507

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1464
File annotation ID: 1465
Created ROI with ID: 508

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1466
File annotation ID: 1467
Created ROI with ID: 509

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1468
File annotation ID: 1469
Created ROI with ID: 510

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1470
File annotation ID: 1471
Created ROI with ID: 511

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1472
File annotation ID: 1473
Created ROI with ID: 512

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1474
File annotation ID: 1475
Created ROI with ID: 513

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1476
File annotation ID: 1477
Created ROI with ID: 514

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1478
File annotation ID: 1479
Created ROI with ID: 515

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1480
File annotation ID: 1481
Created ROI with ID: 516

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1482
File annotation ID: 1483
Created ROI with ID: 517

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1484
File annotation ID: 1485
Created ROI with ID: 518

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1486
File annotation ID: 1487
Created ROI with ID: 519

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1488
File annotation ID: 1489
Created ROI with ID: 520

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

Created table ID: 1490

cast.py (1134): invalid value encountered in cast
cast.py (1153): invalid value encountered in cast

### Delete attachements from project

In [49]:
datatype = "dataset" # "plate", "dataset", "image"
data_id = 	502

def ensure_list(obj):
    if not obj:
        return []
    if isinstance(obj, list):
        return obj
    return [obj]

if datatype == "dataset":
    images = list(dataset.listChildren())
    image_count = len(images)
    plate_statistics = []
    to_delete = []
    for count in range(image_count):
        image = images[count]
        i = conn.getObject("Image", image.getId())
        print('Image Name:', i.getName())
        
        for ann in i.listAnnotations():
            link_id = ann.link.id  # sometimes single, sometimes list
            link_ids = ensure_list(link_id)

            for lid in link_ids:
                to_delete.append(lid)
    conn.deleteObjects("ImageAnnotationLink", to_delete, wait=True)

Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 01)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 02)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 03)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 04)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 05)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 06)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 07)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 08)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 09)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 10)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 11)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 12)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 13)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 14)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 15)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 16)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 17)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 18)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 19)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 20)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 21)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 22)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 23)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 24)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 25)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 26)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 27)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 28)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 29)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 30)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 31)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 32)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 33)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 34)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 35)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 36)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 37)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 38)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 39)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 40)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 41)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 42)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 43)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 44)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 45)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 46)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 47)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 48)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 49)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 50)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 51)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 52)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 53)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 54)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 55)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 56)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 57)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 58)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 59)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 60)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 61)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 62)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 63)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 64)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 65)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 66)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 67)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 68)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 69)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 70)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 71)].tif
Image Name: 14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 [14-6-24_FUCCI_PDLO_Day7_plate1-fixed_007.nd2 (series 72)].tif

### Delete ROIs from project

In [50]:
datatype = "dataset" # "plate", "dataset", "image"
data_id = 	502

if datatype == "dataset":
    images = list(dataset.listChildren())
    image_count = len(images)
    plate_statistics = []
    for count in range(image_count):
        image = images[count]
        roi_service = conn.getRoiService()
        result = roi_service.findByImage(image.getId(), None)
        roi_ids = [roi.id.val for roi in result.rois]
        conn.deleteObjects("Roi", roi_ids)